<%- include('../head.ejs'); %>

<div class="container">
  <form method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="exercicioNome" class="form-label">Nome do exercício</label>
      <input type="text" class="form-control" id="exercicioNome" name="exercicioNome" aria-describedby="exercicioNome" required>
    </div>
    <div class="mb-3">
      <label for="grupoTreinado" class="form-label">Grupo treinado</label>
      <select class="form-select" id="grupoTreinado" name="grupoTreinado">
        <option selected>Selecione um grupo</option>
        <% for( var i in gruposMusculares ) { %>
          <option value="<%= gruposMusculares[i] %>"><%= gruposMusculares[i] %></option>
        <% } %>
      </select>
    </div>
    <div class="mb-3">
      <label for="exercicioDescricao" class="form-label">Decrição do exercício <span class="text-muted">(opcional)</span></label>
      <textarea class="form-control" id="exercicioDescricao" name="exercicioDescricao" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleGIF" class="form-label">GIF de exemplo <span class="text-muted">(opcional)</span></label>
      <input class="form-control" type="file" id="exampleGIF" name="files" accept=".gif">
      <img id="preview" src="" alt="Preview" style="max-width: 100%; display: none;">
    </div>

    <div class="mt-5">
      <button type="submit" class="btn btn-primary">Criar exercício</button>
      <a href="/exercicios" class="btn btn-light">Cancelar</a>
    </div>
  </form>
</div>

<script>
  $(document).ready(function() {
    $('#exampleGIF').change(function() {
      const files = $('#exampleGIF').prop('files');
      const preview = $('#preview');

      if (files && files[0]) {
        const reader = new FileReader();

        reader.onload = function (e) {
          preview.attr('src', e.target.result);
          preview.css('display', 'block');
        };

        reader.readAsDataURL(files[0]);
      } else {
        preview.attr('src', '');
        preview.css('display', 'none');
      }
    })
  })
</script>

<%- include('../tail.ejs'); %>
