<div class="card exercise-data" data-id="<%- exerciseId %>">
  <div class="card-body row">
    <div class="col form-floating">
      <input type="text" class="form-control" id="exe" value="<%- exerciseName %>" readonly>
      <label for="exe" class="form-label">Nome do exercício</label>
    </div>
    <div class="col-3 form-floating">
      <input type="number" class="form-control" id="exe-sets" required>
      <label for="exe-sets" class="form-label">Número de séries</label>
    </div>
    <div class="col-1 d-flex align-items-center remove-exercise">
      <a role="button" class="btn btn-danger text-white">
        <i class="bi bi-trash-fill"></i>
      </a>
    </div>
  </div>
</div>
