<%- include('../head.ejs'); %>

<div class="container">
  <h4 class="fs-3 mb-5">Minhas Rotinas</h4>

  <!-- TODO: Melhorar exibição das rotinas -->
  <div class="row row-cols-4 mb-5">
    <% for( let i = 0; i < routines.length; i++ ) { %>
      <div class="col mb-4" style="max-width: 30rem;">
        <%- include('routine.ejs', { routine: routines[i] }); %>
      </div>
    <% } %>
  </div>

  <a href="/rotinas/criar-rotina" class="btn btn-primary">
    <i class="bi bi-plus-lg me-1"></i>Adicionar nova rotina
  </a>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(document).on('click', '.dropdown a', function() {
      const menu = $(this).siblings('ul.dropdown-menu')

      menu.slideToggle()
      $('ul.dropdown-menu').not(menu).slideUp();
    })

    $(document).on('click', '.delete-action', function() {
      const id = $(this).data('id');

      $.ajax({
        type: 'delete',
        url: `/rotinas/excluir-rotina/${id}`,
        success: function(response) {
          window.location.href = response.next_page;
        },
        error: function(error) {
          console.error('Erro na requisição', error);
        }
      })
    })
  })
</script>

<%- include('../tail.ejs'); %>
